{
  "presets": [
    "es2015",
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-trailing-function-commas",
    "transform-function-bind",
    ["module-resolver", {
      "root": ["./src"],
    }],
  ],
}
