@require 'jeet'
@require 'axis'
@require './shared/global'

:global
  html
    font-family Lato
    font-size 62.5%

  button
    font-size 1.5rem
    font-family Lato

  body
    font-size 1.5rem
    background #f4f4f4

  a
    text-decoration none
    cta()
